<section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16">
        <h1 class="text-gray-900 dark:text-white text-3xl md:text-5xl font-extrabold mb-8">Your Events</h1>
        @for (venue of venues; track $index) {
            <h1 class="text-gray-900 dark:text-white text-2xl md:text-3xl font-extrabold mb-2">{{venue.title}}</h1>
            @if (venue.events && venue.events.length > 0) {
                @for (event of venue.events; track $index){
                    <div class="bg-gray-50 dark:bg-gray-800 border border-gray-200 dark:border-gray-700 rounded-lg p-5 md:p-8 mb-4">
                        <h1 class="text-gray-900 dark:text-white text-2xl md:text-3xl font-extrabold mb-2">{{event.name}}</h1>
                        <div class="grid md:grid-cols">
                            <p class="text-lg text-gray-500 dark:text-gray-400 ">Event starts: {{event.f_ini | date:'dd MMMM y - hh:mm:ss'}}</p>
                            <p class="text-lg text-gray-500 dark:text-gray-400 ">Event ends: {{event.f_end | date:'dd MMMM y - hh:mm:ss'}}</p>
                            <p class="text-lg text-gray-500 dark:text-gray-400 ">Event description: {{event.description}}</p>
                            <p class="text-lg text-gray-500 dark:text-gray-400 ">Event payment: {{event.payment}}</p>
                            <p class="text-lg text-gray-500 dark:text-gray-400 ">Event type: {{event.type}}</p>
                            <p class="text-lg text-gray-500 dark:text-gray-400 ">Application ends: {{event.date_end_bid | date:'dd MMMM y - hh:mm:ss'}}</p>
                            <p class="text-lg text-gray-500 dark:text-gray-400 ">Entrance price: {{event.price}}</p>
                        </div>

                        <!-- Mostrar aplicaciones asociadas al evento -->
                        <h4 class="text-xl font-bold text-gray-900 dark:text-white mb-2 mt-4">Applications:</h4>
                        <ul>
                            @if (eventsWithApplications && eventsWithApplications.length > 0) {
                                @for (application of eventsWithApplications; track $index) {
                                    @if (application.id_event === event.id_event) { <!-- Suponiendo que las aplicaciones tienen un id_event -->
                                        @if (application.Applications && application.Applications.length > 0) {
                                            @for (app of application.Applications; track $index) {
                                                <li class="mb-2 mt-5 bg-yellow-50 dark:bg-gray-800 border border-gray-200 dark:border-gray-700 rounded-lg p-5 md:p-5">
                                                    <strong>{{ app.titulodeloquehago }}</strong>
                                                    <p>{{ app.descriptiondeloquehago }}</p>
                                                    @if (app.status === 'pending') {
                                                        <p>Status:</p><p class="text-yellow-200 font-bold">{{ app.status }}</p>
                                                    } @else if (app.status === 'accepted') {
                                                        <p>Status:</p><p class="text-green-400 font-bold">{{ app.status }}</p>
                                                    } @else {
                                                        <p>Status:</p><p class="text-red-600 font-bold">{{ app.status }}</p>
                                                    }
                                                    <div class="flex gap-2 mt-2">
                                                        <button (click)="updateApplicationStatus(app.id_application, 'accepted')" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                                                            Accept
                                                        </button>
                                                        <button (click)="updateApplicationStatus(app.id_application, 'rejected')" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                                                            Reject
                                                        </button>
                                                    </div>
                                                </li>
                                            }
                                        } 
                                    }
                                }
                            } @else {
                                <li>No applications available for this event.</li>
                            }
                        </ul>
                    </div>
                }
            } @else {
                <h1 class="text-gray-900 dark:text-white text-1xl md:text-2xl mb-2">There are no events for {{venue.title}}...</h1>
            }
        }
    </div>
</section>
