<section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16">
        <h1 class="text-gray-900 dark:text-white text-3xl md:text-5xl font-extrabold mb-8">Your Events</h1>
        @for (venue of venues$ | async; track $index) {
            <h1 class="text-gray-900 dark:text-white text-2xl md:text-3xl font-extrabold mb-2">{{venue.title}}</h1>
            @if (venue.events && venue.events.length > 0) {
                @for (event of venue.events; track $index){
                    <div class="bg-gray-50 dark:bg-gray-800 border border-gray-200 dark:border-gray-700 rounded-lg p-5 md:p-8 mb-4">
                        <h1 class="text-gray-900 dark:text-white text-2xl md:text-3xl font-extrabold mb-2">{{event.name}}</h1>
                        <div class="grid md:grid-cols">
                            <p class="text-lg text-gray-500 dark:text-gray-400 ">Event starts: {{event.f_ini | date:'dd MMMM y - hh:mm:ss'}}</p>
                            <p class="text-lg text-gray-500 dark:text-gray-400 ">Event ends: {{event.f_end | date:'dd MMMM y - hh:mm:ss'}}</p>
                            <p class="text-lg text-gray-500 dark:text-gray-400 ">Event description: {{event.description}}</p>
                            <p class="text-lg text-gray-500 dark:text-gray-400 ">Event payment: {{event.payment}}</p>
                            <p class="text-lg text-gray-500 dark:text-gray-400 ">Event type: {{event.type}}</p>
                            <p class="text-lg text-gray-500 dark:text-gray-400 ">Application ends: {{event.date_end_bid | date:'dd MMMM y - hh:mm:ss'}}</p>
                            <p class="text-lg text-gray-500 dark:text-gray-400 ">Entrance price: {{event.price}}</p>
                        </div>

            <!-- Mostrar aplicaciones asociadas al evento -->
            <h4 (click)="toggleMenu(event.id_event)" class="text-xl font-bold text-gray-900 dark:text-white mb-2 mt-4 flex items-center cursor-pointer w-fit">Applications 
              @if (isMenuOpen(event.id_event)) {
                <span class="material-icons-outlined">keyboard_arrow_up</span>
              } @else {
                <span class="material-icons-outlined">keyboard_arrow_down</span>
              }
            </h4>
            <ul id="applications" [class.hidden]="!isMenuOpen(event.id_event)">
              @if (event.applications && event.applications.length > 0) {
                @for (app of event.applications; track $index) {
                  <li class="mb-2 mt-5 bg-yellow-50 dark:bg-gray-800 border border-gray-200 dark:border-gray-700 rounded-lg p-5 md:p-5">
                    <strong>{{ app.titulodeloquehago }}</strong>
                    <p>{{ app.descriptiondeloquehago }}</p>
                    
                    <!-- Estado de la aplicación -->
                    <p>Status:
                      <span [ngClass]="{
                        'text-yellow-300 font-bold': app.status === statusEnum.PENDING,
                        'text-green-500 font-bold': app.status === statusEnum.ACCEPTED,
                        'text-red-600 font-bold': app.status === statusEnum.REJECTED
                      }">{{ app.status }}</span>
                    </p>

                    <!-- Botones para actualizar el estado -->
                    <div class="flex gap-2 mt-2">
                      <button (click)="updateApplicationStatus(app.id_application, statusEnum.ACCEPTED)" 
                              class="text-white bg-blue-700 hover:bg-blue-800 font-medium rounded-lg text-sm px-5 py-2">
                        Accept
                      </button>
                      <button (click)="updateApplicationStatus(app.id_application, statusEnum.REJECTED)" 
                              class="text-white bg-blue-700 hover:bg-blue-800 font-medium rounded-lg text-sm px-5 py-2">
                        Reject
                      </button>
                    </div>
                  </li>
                }
              } @else {
                <li>No applications available for this event.</li>
              }
            </ul>
          </div>
        }
      } @else {
        <h1 class="text-gray-900 dark:text-white text-1xl md:text-2xl mb-2">There are no events for {{ venue.title }}...</h1>
      }
    }
  </div>
</section>
