<section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16">
        <div class="grid md:grid-cols-2 gap-8">
            <a [routerLink]="['/', routesEnum.CREATEGROUP]"
                class="bg-gray-50 dark:bg-gray-800 border border-gray-200 dark:border-gray-700 rounded-lg p-8 md:p-12 hover:cursor-pointer hover:bg-gray-100 dark:hover:bg-gray-700">
                <h2 class="text-gray-900 dark:text-white text-3xl font-extrabold mb-2">Create a new band</h2>
                <p class="text-lg font-normal text-gray-500 dark:text-gray-400 mb-4">you can create a group in order to apply to events</p>
            </a>
            <a [routerLink]="['/', routesEnum.GROUP]"
                class="bg-gray-50 dark:bg-gray-800 border border-gray-200 dark:border-gray-700 rounded-lg p-8 md:p-12 hover:cursor-pointer hover:bg-gray-100 dark:hover:bg-gray-700">
                <h2 class="text-gray-900 dark:text-white text-3xl font-extrabold mb-2">Manage your bands</h2>
                <p class="text-lg font-normal text-gray-500 dark:text-gray-400 mb-4">you can manage your bands here in order to modify them</p>
            </a>
            <!-- <a
                class="bg-gray-50 dark:bg-gray-800 border border-gray-200 dark:border-gray-700 rounded-lg p-8 md:p-12 hover:cursor-pointer hover:bg-gray-100 dark:hover:bg-gray-700">
                <h2 class="text-gray-900 dark:text-white text-3xl font-extrabold mb-2">Manage your applications</h2>
                <p class="text-lg font-normal text-gray-500 dark:text-gray-400 mb-4">you can manage your applications here</p>
            </a> -->
            <a [routerLink]="['/', routesEnum.MUSICIANEVENTVIEW]"
                class="bg-gray-50 dark:bg-gray-800 border border-gray-200 dark:border-gray-700 rounded-lg p-8 md:p-12 hover:cursor-pointer hover:bg-gray-100 dark:hover:bg-gray-700">
                <h2 class="text-gray-900 dark:text-white text-3xl font-extrabold mb-2">Manage your Events</h2>
                <p class="text-lg font-normal text-gray-500 dark:text-gray-400 mb-4">you can manage your events here</p>
            </a>
        </div>
    </div>
</section>
