<section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16">
        <h1 class="text-gray-900 dark:text-white text-3xl md:text-5xl font-extrabold mb-8">Your Venues as an owner
        </h1>
        @for (venue of venues; track $index) {
        <div class="bg-gray-50 dark:bg-gray-800 border border-gray-200 dark:border-gray-700 rounded-lg p-5 md:p-8 mb-4">
            <h1 class="text-gray-900 dark:text-white text-2xl md:text-3xl font-extrabold mb-2">{{venue.title}}</h1>
            <div class="grid md:grid-cols">
                <p class="text-lg text-gray-500 dark:text-gray-400 ">Adress: {{venue.address}}</p>
                <p class="text-lg text-gray-500 dark:text-gray-400 ">Capacity: {{venue.capacity}}</p>
            </div>
            <div class="flex gap-2 mt-2">
                <button type="submit" class="jam-it-button neutral">Edit</button>
                <button type="submit" class="jam-it-button warning">Delete</button>
            </div>
        </div>
        }
    </div>
</section>