<section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16">
        <h1 class="text-gray-900 dark:text-white text-3xl md:text-5xl font-extrabold mb-8">Your Groups as an owner
        </h1>
        @for (group of groups; track $index) {
        <div class="bg-gray-50 dark:bg-gray-800 border border-gray-200 dark:border-gray-700 rounded-lg p-5 md:p-8 mb-4">
            <h1 class="text-gray-900 dark:text-white text-2xl md:text-3xl font-extrabold mb-2">{{group.name}}</h1>
            <div class="grid md:grid-cols">
                <p class="text-lg text-gray-500 dark:text-gray-400 ">descripcion: {{group.description}}</p>
                <p class="text-lg text-gray-500 dark:text-gray-400 ">Integrantes: {{group.musicians}}</p>
                <p class="text-lg text-gray-500 dark:text-gray-400 ">Género: {{group.genre}}</p>
            </div>
        </div>
        }
    </div>
</section>





<section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16">
        <h1 class="text-gray-900 dark:text-white text-3xl md:text-5xl font-extrabold mb-8">Available events to apply
        </h1>
        @for (event of eventsToApply; track $index) {
        <div class="bg-gray-50 dark:bg-gray-800 border border-gray-200 dark:border-gray-700 rounded-lg p-5 md:p-8 mb-4">
            <h1 class="text-gray-900 dark:text-white text-2xl md:text-3xl font-extrabold mb-2">{{event.name}}</h1>
            <div class="grid md:grid-cols-2">
                <p class="text-lg text-gray-500 dark:text-gray-400 ">{{event.description}}</p>
                <p class="text-lg text-gray-500 dark:text-gray-400 ">Payment {{event.payment}}€</p>
                <p class="text-lg text-gray-500 dark:text-gray-400 ">Start on - {{event.f_ini | date:'dd MMMM y'}}</p>
                <p class="text-lg text-gray-500 dark:text-gray-400 ">End on - {{event.f_end | date:'dd MMMM y'}}</p>
                <p class="text-lg text-gray-500 dark:text-gray-400 ">Last time to apply - {{event.date_end_bid | date:'dd MMMM y'}}</p>
                <p class="text-lg text-gray-500 dark:text-gray-400 ">Entrance fee - {{event.price}}€</p>
            </div>
            <div class="flex justify-end">
                <button class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Apply</button>
            </div>
        </div>
        }
    </div>
</section>